.body-flexbox {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 68px;
}

.body-left-section,
.body-middle-section,
.body-right-section {
    background-color: white;
    display: flex;
    position: relative;
    flex-direction: column;
    border-radius: 8px;
}

.identity-container,
.picture-background,
.identity-picture,
.connections-container,
.my-items-container {
    display: flex;
    position: relative;
}

.identity-container a {
    text-decoration: none;
}

.identity-container {
    flex-direction: column;
    align-items: center;
    width: 225px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border: 1px solid rgb(220, 220, 220);
}

.picture-background {
    background-color: rgb(154, 171, 184);
    width: 100%;
    height: 56.25px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 1px solid rgb(220, 220, 220);
}

.identity-picture {
    border-radius: 50%;
    border: 2px solid white;
    width: 68px;
    height: 68px;
    top: -38px;
}

.name {
    display: flex;
    position: relative;
    font-size: 16px;
    height: 24px;
    color: rgba(0, 0, 0, 0.9);
    font-weight: 700;
    top: -12px;
}

.title {
    display: flex;
    position: relative;
    font-size: 12px;
    height: 16px;
    color: rgba(0, 0, 0, 0.6);
    top: -10px;
}

.identity-picture:hover,
.name:hover {
    text-decoration: underline;
    cursor: pointer;
}

.connections-container,
.premium-container,
.my-items-container {
    display: flex;
    flex-direction: column;
    width: 201px;
    font-size: 12px;
    border: 1px solid rgb(220, 220, 220);
    border-top: 0;
    padding: 12px;
}

.profile-peeks,
.connections {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 4px 0px;
    height: 16px;
}

.connections-container span {
    color: rgba(0, 0, 0, 0.9);
    font-weight: bold;
    height: 16px;
    padding-left: 0px;
}

.profile-peeks p,
.connections p {
    color: rgba(0, 0, 0, 0.6);
}

.profile-peeks span,
.connections span {
    color: rgb(10, 102, 194);
    font-weight: 400;
}

.profile-peeks:hover,
.connections:hover,
.premium-container:hover,
.my-items-container:hover {
    cursor: pointer;
    background-color: rgb(230, 230, 230);
}

.premium-container:hover .premium-block span {
    color: rgb(10, 102, 194);
}

.premium-container span {
    color: rgba(0, 0, 0, 0.6);
    padding: 2px 0px;
}

.premium-block {
    display: flex;
    align-items: center;
}

.premium-block span {
    color: rgba(0, 0, 0, 0.9);
    font-weight: bold;
    height: 16px;
    padding: 1px 0px;
}

.premium-block img {
    height: 12px;
    width: 12px;
    margin: 2px;
}

.my-items-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid rgb(220, 220, 220);
    border-top: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-weight: bold;
    font-size: 12px;
}

.my-items-container img {
    width: 12px;
    height: 15px;
    margin-right: 10px;
}